.header {
  background-color: $white-color;
  border: 1px solid $light-color;
  padding: 12px 0;
  position: fixed;
  z-index: 10;
  width: 100%;

  @media (min-width: $tablet) {
    padding: 16px 0;
  }

  @media (min-width: $laptop) {
    padding: 23px 0 24px;
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__logo {
    display: flex;
    align-items: center;
    margin-left: 28px;
    margin-right: auto;
    transition: opacity 0.2s ease-in;

    &:hover, &:focus {
      opacity: .8;
    }

    &-icon {
      @media (min-width: $tablet) {
        width: 23px;
        height: 37px;
      }
    }

    &-text {
      display: none;

      @media (min-width: $tablet) {
        display: block;
      }
    }
  }

  .cta {
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  .actions {
    display: flex;
    align-items: center;
    margin-right: 32px;

    &__search {
      width: 24px;
      height: 24px;
      border-radius: 100%;
      margin-right: 16px;

      &:hover svg, &:focus svg {
        fill: $secondary-color;
      }

      @media (min-width: $laptop) {
        display: none;
      }

      svg {
        fill: $black-color;
        transition: 0.3s ease-in fill;
      }
    }

    &__more {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;

      &:hover svg, &:focus svg {
        fill: $secondary-color;
      }

      svg {
        transition: 0.3s ease-in fill;
      }
    }

    &__news {
      width: 24px;
      height: 24px;
      margin-left: 16px;
      border: none;
      fill: $black-color;
      display: none;

      &:hover svg, &:focus svg {
        fill: $secondary-color;
      }

      @media (min-width: $laptop) {
        display: block;
      }

      svg {
        transition: 0.3s ease-in fill;
      }
    }
  }

  .account {
    display: flex;

    &__user {
      border: none;
      width: 40px;
      height: 40px;
      background-image: url('../img/user.svg');
      background-repeat: no-repeat;
      background-size: 30px;
      background-position: center;
      border-radius: 4px;
      transition: opacity 0.3s ease-in;

      &:hover {
        opacity: 0.8;
      }

      @media (min-width: $laptop) {
        display: none;
      }
    }

    &__signin {
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      color: $primary-color;
      padding: 10px 19.5px;
      border: 1px solid $primary-color;
      border-radius: 4px;
      display: none;
      transition: 0.3s ease-in color, 0.3s ease-in border, 0.3s ease-in background-color;

      &:hover {
        background-color: rgba(147, 165, 224, 0.08);
        border: 1px solid #93A5E0;
        color: $primary-hover;
      }

      &:focus {
        background-color: rgba(60, 76, 127, 0.08);
        color: $primary-selected;
      }

      &:disabled {
        color: $primary-disabled;
      }

      @media (min-width: $laptop) {
        display: flex;
      }

      svg {
        margin-right: 4px;
      }
    }
  }
}
