input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.search {
  position: absolute;
  right: 16px;
  top: 100%;
  background: $white-color;
  width: 100%;
  max-width: calc(100% - 32px);
  height: 40px;
  transition: all ease 0.4s;
  visibility: hidden;
  opacity: 0;
  margin-top: -100%;
  border-radius: 4px;

  @media (min-width: $laptop) {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    opacity: 1;
    visibility: visible;
    margin-top: 0;
  }

  &--active {
    opacity: 1;
    visibility: visible;
    margin-top: 8px;
  }

  &__icon {
    position: absolute;
    left: 17.5px;
    top: 50%;
    transform: translateY(-50%);
    fill: #8E8A8A;
    pointer-events: none;
  }

  &__field {
    padding-left: 42px;
    padding-right: 60px;
    border: 1px solid #C2C2C2;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    color: $black-color;
    letter-spacing: -0.04em;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    transition: 0.2s ease-in border-color, 0.2s ease-in box-shadow;

    &::placeholder {
      font-size: 16px;
      color: $dark-color;
      letter-spacing: -0.04em;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      font-family: "Montserrat", Arial, sans-serif;
    }

    &:hover, &:focus {
      box-shadow: inset 0 1px 2px $secondary-color;
      border-color: $secondary-color;
    }
  }

  &__mic {
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    border-radius: 100%;
    transition: background-color 0.3s ease-in;

    &:hover, &:focus {
      background-color: $secondary-color;
    }

    &:hover svg, &:focus svg {
      fill: $white-color;
    }

    svg {
      width: 18px;
      height: 18px;
      fill: $black-color;
      transition: fill 0.3s ease-in;
    }
  }
}
